body{
	font-family: Arial;
	color: #aadfff;
}

body.noframe{
	background-image: url("../img/background.jpg");
}

h1{
	text-transform: uppercase;
	font-size: 45px;
	margin-bottom: 0px;
}

h2{
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h3{
	text-transform: capitalize;
}

div.whole_page{
	padding: 3px;
	width: 1200px;
	background-color: rgba(0, 0, 0, 0.8);
}

a.page_link{
	padding: 5px;
	margin: 5px;
	text-transform: uppercase;
	color: white;
}

a.page_link:link{
	text-decoration: none;
}

a.page_link:visited{
	text-decoration: none;
}

a.page_link:hover{
	text-decoration: none;
	background-color: #669aaa;
}

a.page_link:active{
	text-decoration: none;
	background-color: #225666;
}

a.src_link{
	color: white;
	text-decoration: underline;
}

li{
	padding: 10px;
}

img.frame_pg_img{
	 height: 250px;
	 position: absolute;
	 right: 50px;
	 top: 0;
}

iframe{
	width: 1000px;
	height: 550px;
	border: none;
	background-image: none;
}